@charset "utf-8";

html{
    background-color: rgba(85, 107, 47, 0.288);
}

ul#menu > h2 > li, ul#myAccount > h3 > li{
    list-style-type: none;
    margin: 1em 1em 5px 0;
    font-size: 25px;
}

ul#menu > h2 > li > a, ul#myAccount > h3 > li > a{
    list-style-type: none;
    text-decoration: none;
    color: black;
}

ul#menu > h3 > li > a:hover, ul#myAccount > h3 > li > a:hover{
    display: inline-block;
    background-color: gray;
}

div#menuLayout{
    width: 20%;
    float: left;
    margin-top: 4em;
}

div#myAccountLayout{
    width: 80%;
    float: left;
}

h1{
    padding-left: 1em;
    margin-bottom: 5px;
}

ul#myAccount > h3 {
    margin-bottom: 0;
}

h2.logoutStyle, .logoutStyle{
    font-size: 17.5px;
    margin-top: 5em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;    
}

#first_name, #last_name, #address_1, #address_2, #post_code, #city, #phone_number{
    margin: 1.5em 0 1.5em 2.2em;
    height: 30px;
    width: 40%;
    border: none;
    border-bottom: 2px solid gray;
    background-color: rgba(255, 255, 255, 0);
    font-size: large;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

form > input:focus{
    border: none;
    border-bottom: 2px solid gray;
    outline: none;
}

p{
    margin: 10px 10px 10px 1.3em;
}

input#submitButton{
    display: inline-block;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    width: 200px;
    height: 50px;
    text-transform: capitalize;
    margin-bottom: 2.3em;
    margin-left: 2.8em;
}

input#submitButton:hover{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    width: 200px;
    height: 50px;
    text-transform: capitalize;
}

select{
    margin: 1.5em 0 1.5em 2.1em;
    height: 30px;
    width: 40.5%;
    border: none;
    border-bottom: 2px solid gray;
    background-color: rgba(255, 255, 255, 0);
    font-size: large;
}

select:focus{
    border: none;
    border-bottom: 2px solid gray;
    outline: none;
    background-color: rgba(220, 220, 220, 0.5);
}

@media only screen and (max-width: 600px){
    form > input{
        margin: 1.5em 0 1.5em 2.2em;
        height: 30px;
        width: 300px;
        border: none;
        border-bottom: 2px solid gray;
        background-color: rgba(255, 255, 255, 0);
        font-size: large;
    }

    ul#menu{
        list-style-type: none;
        padding: 0 0 0 20px;
    }

    div#menuLayout{
        width: 30%;
        float: left;
        margin-top: 4em;
    }
    
    div#myAccountLayout{
        width: 70%;
        float: left;
    }
}

section{
    clear: both;
    content: "";
}