section{
    
    background-color: rgb(243, 250, 237);
    margin-top: -2%;
}
section::after{
    clear: both;
    display: table;
    content: "";
}

div.imgCareer img{
    width: 40%;
    height: 500px;
    float: left;
}
div.Career{
   text-align: center;
   font-size: 25px;
    margin-left: 45%;
    margin-right: 5%;
    margin-top: 1%;
   height: 600px;
}
div.Career p{
    margin-top: -2%;
    width: 100%;
}
div#imageDesign{
    margin-top: -25%;
}
div#imageModel{
    margin-top: -15%;
}
div#imagePhotog{
    margin-top: -5%;
}
